html{
    font-family: Arial;
    padding: 0px;
    margin: 0px;
}

body{
    background-color: rgb(203, 221, 231);
    padding: 0px;
    margin: 0px;
}

h1,h2{
    text-align: center;
}

h1{
    margin-top: 2vw;
    margin-bottom: 0.1vw;
    text-align: center;
}

h1.blue{
    color: rgb(238, 244, 248);
}

.confirmPrompt, #ErrorContainer, #ProfileContainer, #MainContainerProfileSide1, #MainContainerProfileSide2, #MainContainerPC, #MainContainerT, #MainContainerF{
    margin: 25px auto;
	width: 90%;
    padding: 25px;
    margin-top: 75px;
	border-width: 0px 2px; 
    background-color: white;
    border-radius: 2vw;
}


/*Container To display errors during website runtime*/
#ErrorContainer {
    background-color: rgb(255, 0, 0);
    border: solid;
    border-width: 3px;
    border-color: rgb(148, 13, 13);
    color: white;
    text-align: center;
    display: flex;
}

/*----------------PROFILE----------*/


#ProfileContainer {
    border-radius: 2vw;
    color: black;
    font-family: Arial, Helvetica;   
}

.contact{
    border: none;
}

.divP{
    display: flex;
    flex-direction: row;
}



#MainContainerT {
    height: 65%;
	border-width: 0px 2px; 
    margin-top: 1vw;
    color: black;
    display: flex;
    flex-direction: column;
    gap: 0px;
}

select.post{
    background: none;
    border: none;
    color: white;
    font-size: 1.2vw;
    width: auto;
}

select.title{
    background-color: rgb(245, 245, 245);
    font-size: 2.7vw;
    border: none;
}

textarea.post{
    width: 100%;
    height: 90%;
    resize:none
}

/*#MainContainerF {
    color: black;
}*/

.formF{
    display: flex;
    flex-direction: column;
}

input.line{
    width : 100%;
    padding: 1vw 0px;
    margin-bottom: 2vw;
    margin-top: 0.1vw;
    border: solid;
    border-width: 0.2vw;
    border-color: lightgray;
}



input[type=submit], .buttonContact, .optionLine{

    font-size: 2vw;
    
    border: none;
    padding: 1vw 0px;
    background-color: #5c7999;
    color: white;
    text-align: center;
    
}

.optionLine{
    margin: 0px 1%;
    
}

.optionLine:hover{
    background-color: rgb(48, 78, 94);
}

input[type=submit]{
    width: 100%;
}

.buttonContact{
    width: 20%;
}

input[type=submit]:hover, .buttonContact:hover{
    background-color: rgb(50, 82, 99);

}

button.line:hover{
    background-color: #b9ab8d;
}




.con2{
    display: flex;
}

.con{
    display: inline-block;
    
    width: 75%;
    
    padding: 0px;
    margin-right: 3%;
    margin-top: 3%;
    margin-bottom: 3%;

}



.tag, .tagEdit{
    font-size: 2vw;
    display: inline-block;
}

.tag a, .tagEdit {
    background-color: #779ecb;
  
    border-radius: 30vw;
    display: inline-block;
    margin-left: 3px;
    margin-top: 5px;
    max-height: auto;
    max-width: auto;
    padding: 5px 7px;
    color: white;
    text-decoration: none;
    
}

.tag{

}

.tagEdit {
    
    font-size: 2.1vw;
    
    bottom: 2.1%;
    right: 10px;
    padding: 7px 9px;
    
}


/*VERIFIER PK TAG FREQUENCE EST DECALE*/

.tagLightColor, .tagDarkColor{
    font-size: 1.62vw;
    display: inline-block;
    
    border-radius: 30vw;
    
    margin-left: 0.15vw;
    margin-right: 0.15vw;
    margin-top: 5px;
    
    max-height: auto;
    max-width: auto;
    padding: 5px 7px;
    color: #ffffff;
    text-decoration: none;
    margin: auto;   
}

.tagLightColor{
    background-color: #779ecb;
}

.tagDarkColor{
    background-color: #5c7999;
}


.tag a:hover{
    background-color: #3b699e;
}


.sideSelector {
  
    width: 40%;
    display: flex;
    
    margin: auto;
    border-radius: 8%;
    border-bottom: solid;
    color: #779ecb;
      
}
    
    /* Style the links inside the navigation bar */
    .sideSelector a {
        
      width: 50%;
      color: #779ecb;
      float: left;
      
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 2vw;
      
    }
    
    /* Change the color of links on hover */
    .sideSelector a:hover {
      background-color: #ecebeb;
      color: black;
    }
    
    /* Add a color to the active/current link */
    .sideSelector a.active {
    color: #779ecb;
    text-decoration: underline;
    text-underline-offset: 0.7vw;
    text-decoration-thickness: 0.30vw;
    }

img.addPost{
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: 3px;
    border-radius: 50%;
    
    height: 50px;
    width: 50px;
    

}

img.addPost:hover{
    background-color: rgb(255, 255, 255);
}

img.reaction{
    position: fixed;

    border-radius: 50%;
    padding: 3px;
    height: 50px;
    width: 50px;
    

}

img.reaction:hover{
    background-color: rgb(255, 255, 255);
}

img.circleButton{
    position: absolute;
    z-index: 1;
    left: 88%;
    
    
    border-radius: 50%;
    padding: 3px;
   
    width: 50px;
    height: auto;

}

img.circleButton:hover{
    background-color: rgb(255, 255, 255);
}


/*-----TAG-----*/

.con{
    width: 90%;
    height: 90%;
    margin-top: 0;
    
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    overflow-y: auto;
    overflow-x: hidden;
    /*KEEP IN MIND*/
 
}
/*---TAG FILTERS---*/    

.headline{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding: 0vw;
    display: flex; 
}

.void{
    width: 45%;
}

.full{
    width: 75%;
    
    gap: 0vw;
    display: block;
}

.tagselect{
    width: 55%;
    border-radius: 0vw;
    border: none;
    font-size: 2vw;
    display: inline-block;
    margin-right: 0vw;
    background-color: white;
}

.tagbutton{
    width: 43%;
    margin-left: 0vw;
    display: inline-block;
    background-color: #779ecb;
    border: none;
    color:  rgb(238, 244, 248);
    font-size: 2vw;
}

button.tagbutton:hover{
    background-color: #3b699e;
}

/*---TAG FILTERS END---*/ 

/*put in another container*/
form.index{
    width: 40%;
    height: 30%;
    display: flex;
   
    
}
form.index button{
    background-color: rgb(29, 29, 119);
    color: white;
    border: none;
    width: 25%;
}

form.index input{
    width: 75%;
}


.profilepic{
    position:static;
    width: 55%;
    border-radius: 50%;
    padding: 5%;
    margin: auto;
}

  
img.uniqueImageHobby{
    width: 55%;
    height: auto;
    border-radius: 4vw;
    padding: 0.3%;
    margin: auto auto;
} 


/*-----INDEX-----*/

.linePost{
    width: 100%;
    border-bottom: solid;
    border-color: lightgray;
}




