.history, .historyComments{
    width: 90%;
    padding: 15px;
    max-height: 250px;
    overflow: auto;
    margin: auto;
}



.messageContainer1, .messageContainer2{
  width: 90%;
  border: 2px solid #ffffff;
  border-radius: 5px;
  padding: 5px;
  margin: 10px 0;

  
}


.messageContainer2{   
    background-color: rgb(34, 56, 68);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    margin-left: 8%;
    
}

.messageContainer1{
    background-color: rgb(224, 232, 236);
    
}

.destroyButton{
  color: white;
  border: none;
  padding: 15px 15px;
  font-size: 2vw;
  right: 0px;
  height: 100%;
}

.destroyButton:hover{
  background-color: #f44336;
  color: white;
}

.open-button {
    z-index: 3;
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 1;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
  }
  
  /* The popup chat - hidden by default */
  .chat-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
    background-color: white;
    max-width: 300px;
  }
  
  /* Add styles to the form container */
  .form-container {
    max-width: 300px;
    padding: 10px;
    
  }
  
  /* Full-width textarea */
  .form-container textarea {
    width: 90%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    resize: none;
    height: 15px;
    overflow: hidden;
  text-overflow: clip; 
    
  }
  
  /* When the textarea gets focus, do something */
  .form-container textarea:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit/send button */
  .form-container .btn {
    background-color: rgb(34, 56, 68);
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 1;
  }
  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
    background-color: red;
  }
  
  /* Add some hover effects to buttons */
  .open-button:hover {
    background-color: #7c7b7b;
  }

  .btn:hover{
    opacity: 0.8;
  }